<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	backgroundColor="rgba(0,0,0,1)"

>
  <image imageURL="images/IMG-20180116-WA0005.jpg"
	thumbURL="thumbs/IMG-20180116-WA0005.jpg"
	linkURL="images/IMG-20180116-WA0005.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0005.jpg">
    <title><![CDATA[IMG1]]></title>
    <caption><![CDATA[Facilitated by Honourable Minister Dr. Mahendra Singh]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0006.jpg"
	thumbURL="thumbs/IMG-20180116-WA0006.jpg"
	linkURL="images/IMG-20180116-WA0006.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0006.jpg">
    <title><![CDATA[IMG2]]></title>
    <caption><![CDATA[Moments with Actress Kamya Punjabi]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0007.jpg"
	thumbURL="thumbs/IMG-20180116-WA0007.jpg"
	linkURL="images/IMG-20180116-WA0007.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0007.jpg">
    <title><![CDATA[IMG3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0008.jpg"
	thumbURL="thumbs/IMG-20180116-WA0008.jpg"
	linkURL="images/IMG-20180116-WA0008.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0008.jpg">
    <title><![CDATA[IMG4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0009.jpg"
	thumbURL="thumbs/IMG-20180116-WA0009.jpg"
	linkURL="images/IMG-20180116-WA0009.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0009.jpg">
    <title><![CDATA[IMG5]]></title>
    <caption><![CDATA[with Director Sajid Khan]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0010.jpg"
	thumbURL="thumbs/IMG-20180116-WA0010.jpg"
	linkURL="images/IMG-20180116-WA0010.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0010.jpg">
    <title><![CDATA[IMG6]]></title>
    <caption><![CDATA[with Raju Srivastava]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0011.jpg"
	thumbURL="thumbs/IMG-20180116-WA0011.jpg"
	linkURL="images/IMG-20180116-WA0011.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0011.jpg">
    <title><![CDATA[IMG7]]></title>
    <caption><![CDATA[with Satish Kaushik]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0032.jpg"
	thumbURL="thumbs/IMG-20180116-WA0032.jpg"
	linkURL="images/IMG-20180116-WA0032.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0032.jpg">
    <title><![CDATA[IMG8]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0013.jpg"
	thumbURL="thumbs/IMG-20180116-WA0013.jpg"
	linkURL="images/IMG-20180116-WA0013.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0013.jpg">
    <title><![CDATA[IMG9]]></title>
    <caption><![CDATA[with comedian Ahsaan Quershi]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0014.jpg"
	thumbURL="thumbs/IMG-20180116-WA0014.jpg"
	linkURL="images/IMG-20180116-WA0014.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0014.jpg">
    <title><![CDATA[IMG10]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0015.jpg"
	thumbURL="thumbs/IMG-20180116-WA0015.jpg"
	linkURL="images/IMG-20180116-WA0015.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0015.jpg">
    <title><![CDATA[IMG11]]></title>
    <caption><![CDATA[with singer Altaf Raja]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0016.jpg"
	thumbURL="thumbs/IMG-20180116-WA0016.jpg"
	linkURL="images/IMG-20180116-WA0016.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0016.jpg">
    <title><![CDATA[IMG12]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0017.jpg"
	thumbURL="thumbs/IMG-20180116-WA0017.jpg"
	linkURL="images/IMG-20180116-WA0017.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0017.jpg">
    <title><![CDATA[IMG13]]></title>
    <caption><![CDATA[with Jay Bhanushali]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0018.jpg"
	thumbURL="thumbs/IMG-20180116-WA0018.jpg"
	linkURL="images/IMG-20180116-WA0018.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0018.jpg">
    <title><![CDATA[IMG14]]></title>
    <caption><![CDATA[With Kiku Sharda "comedy night wid kapil"]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0019.jpg"
	thumbURL="thumbs/IMG-20180116-WA0019.jpg"
	linkURL="images/IMG-20180116-WA0019.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0019.jpg">
    <title><![CDATA[IMG15]]></title>
    <caption><![CDATA[With Surendra Sharma]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0030.jpg"
	thumbURL="thumbs/IMG-20180116-WA0030.jpg"
	linkURL="images/IMG-20180116-WA0030.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0030.jpg">
    <title><![CDATA[IMG16]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0033.jpg"
	thumbURL="thumbs/IMG-20180116-WA0033.jpg"
	linkURL="images/IMG-20180116-WA0033.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0033.jpg">
    <title><![CDATA[IMG17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0023.jpg"
	thumbURL="thumbs/IMG-20180116-WA0023.jpg"
	linkURL="images/IMG-20180116-WA0023.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0023.jpg">
    <title><![CDATA[IMG18]]></title>
    <caption><![CDATA[facilitated By Team Sangeet Mahasangram ]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0025.jpg"
	thumbURL="thumbs/IMG-20180116-WA0025.jpg"
	linkURL="images/IMG-20180116-WA0025.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0025.jpg">
    <title><![CDATA[IMG19]]></title>
    <caption><![CDATA[With Sudesh Lehri]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0026.jpg"
	thumbURL="thumbs/IMG-20180116-WA0026.jpg"
	linkURL="images/IMG-20180116-WA0026.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0026.jpg">
    <title><![CDATA[IMG20]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0050.jpg"
	thumbURL="thumbs/IMG-20180116-WA0050.jpg"
	linkURL="images/IMG-20180116-WA0050.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0050.jpg">
    <title><![CDATA[IMG21]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0051.jpg"
	thumbURL="thumbs/IMG-20180116-WA0051.jpg"
	linkURL="images/IMG-20180116-WA0051.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0051.jpg">
    <title><![CDATA[IMG22]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0027.jpg"
	thumbURL="thumbs/IMG-20180116-WA0027.jpg"
	linkURL="images/IMG-20180116-WA0027.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0027.jpg">
    <title><![CDATA[IMG23]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0028.jpg"
	thumbURL="thumbs/IMG-20180116-WA0028.jpg"
	linkURL="images/IMG-20180116-WA0028.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0028.jpg">
    <title><![CDATA[IMG24]]></title>
    <caption><![CDATA[God Of Comedy Johny Lever]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0034.jpg"
	thumbURL="thumbs/IMG-20180116-WA0034.jpg"
	linkURL="images/IMG-20180116-WA0034.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0034.jpg">
    <title><![CDATA[IMG25]]></title>
    <caption><![CDATA[With Ali Asgar "Comedy Night Wid Kapil"]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0074.jpg"
	thumbURL="thumbs/IMG-20180116-WA0074.jpg"
	linkURL="images/IMG-20180116-WA0074.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0074.jpg">
    <title><![CDATA[IMG26]]></title>
    <caption><![CDATA[With King Of Comedy Rajeev Nigam & Zakir Khan]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0061.jpg"
	thumbURL="thumbs/IMG-20180116-WA0061.jpg"
	linkURL="images/IMG-20180116-WA0061.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0061.jpg">
    <title><![CDATA[IMG27]]></title>
    <caption><![CDATA[With Shreyas Talpade]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0082.jpg"
	thumbURL="thumbs/IMG-20180116-WA0082.jpg"
	linkURL="images/IMG-20180116-WA0082.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0082.jpg">
    <title><![CDATA[IMG28]]></title>
    <caption><![CDATA[With Archana puran Singh]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0087.jpg"
	thumbURL="thumbs/IMG-20180116-WA0087.jpg"
	linkURL="images/IMG-20180116-WA0087.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0087.jpg">
    <title><![CDATA[IMG29]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0068.jpg"
	thumbURL="thumbs/IMG-20180116-WA0068.jpg"
	linkURL="images/IMG-20180116-WA0068.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0068.jpg">
    <title><![CDATA[IMG30]]></title>
    <caption><![CDATA[With Dilip Joshi "Jethalal .. Tarak mehta ka ulta chasma"]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0035.jpg"
	thumbURL="thumbs/IMG-20180116-WA0035.jpg"
	linkURL="images/IMG-20180116-WA0035.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0035.jpg">
    <title><![CDATA[IMG31]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0036.jpg"
	thumbURL="thumbs/IMG-20180116-WA0036.jpg"
	linkURL="images/IMG-20180116-WA0036.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0036.jpg">
    <title><![CDATA[IMG32]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0037.jpg"
	thumbURL="thumbs/IMG-20180116-WA0037.jpg"
	linkURL="images/IMG-20180116-WA0037.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0037.jpg">
    <title><![CDATA[IMG33]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0038.jpg"
	thumbURL="thumbs/IMG-20180116-WA0038.jpg"
	linkURL="images/IMG-20180116-WA0038.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0038.jpg">
    <title><![CDATA[IMG34]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0039.jpg"
	thumbURL="thumbs/IMG-20180116-WA0039.jpg"
	linkURL="images/IMG-20180116-WA0039.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0039.jpg">
    <title><![CDATA[IMG35]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0040.jpg"
	thumbURL="thumbs/IMG-20180116-WA0040.jpg"
	linkURL="images/IMG-20180116-WA0040.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0040.jpg">
    <title><![CDATA[IMG36]]></title>
    <caption><![CDATA[With Gurmeet Choudhary]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0041.jpg"
	thumbURL="thumbs/IMG-20180116-WA0041.jpg"
	linkURL="images/IMG-20180116-WA0041.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0041.jpg">
    <title><![CDATA[IMG37]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0042.jpg"
	thumbURL="thumbs/IMG-20180116-WA0042.jpg"
	linkURL="images/IMG-20180116-WA0042.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0042.jpg">
    <title><![CDATA[IMG38]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0043.jpg"
	thumbURL="thumbs/IMG-20180116-WA0043.jpg"
	linkURL="images/IMG-20180116-WA0043.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0043.jpg">
    <title><![CDATA[IMG39]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0044.jpg"
	thumbURL="thumbs/IMG-20180116-WA0044.jpg"
	linkURL="images/IMG-20180116-WA0044.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0044.jpg">
    <title><![CDATA[IMG40]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0045.jpg"
	thumbURL="thumbs/IMG-20180116-WA0045.jpg"
	linkURL="images/IMG-20180116-WA0045.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0045.jpg">
    <title><![CDATA[IMG41]]></title>
    <caption><![CDATA[Entertainer Manish Paul]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0046.jpg"
	thumbURL="thumbs/IMG-20180116-WA0046.jpg"
	linkURL="images/IMG-20180116-WA0046.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0046.jpg">
    <title><![CDATA[IMG42]]></title>
    <caption><![CDATA[Mimicry Artist Jayvijay Sachan]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0047.jpg"
	thumbURL="thumbs/IMG-20180116-WA0047.jpg"
	linkURL="images/IMG-20180116-WA0047.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0047.jpg">
    <title><![CDATA[IMG43]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0048.jpg"
	thumbURL="thumbs/IMG-20180116-WA0048.jpg"
	linkURL="images/IMG-20180116-WA0048.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0048.jpg">
    <title><![CDATA[IMG44]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0049.jpg"
	thumbURL="thumbs/IMG-20180116-WA0049.jpg"
	linkURL="images/IMG-20180116-WA0049.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0049.jpg">
    <title><![CDATA[IMG45]]></title>
    <caption><![CDATA[Dance Guru DHARMESH]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0063.jpg"
	thumbURL="thumbs/IMG-20180116-WA0063.jpg"
	linkURL="images/IMG-20180116-WA0063.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0063.jpg">
    <title><![CDATA[IMG46]]></title>
    <caption><![CDATA[With Rajpal Yadav]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0059.jpg"
	thumbURL="thumbs/IMG-20180116-WA0059.jpg"
	linkURL="images/IMG-20180116-WA0059.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0059.jpg">
    <title><![CDATA[IMG47]]></title>
    <caption><![CDATA[Great Comedian Kapil Sharma]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0052.jpg"
	thumbURL="thumbs/IMG-20180116-WA0052.jpg"
	linkURL="images/IMG-20180116-WA0052.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0052.jpg">
    <title><![CDATA[IMG48]]></title>
    <caption><![CDATA[With Laughter Champion Sunil Pal]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0053.jpg"
	thumbURL="thumbs/IMG-20180116-WA0053.jpg"
	linkURL="images/IMG-20180116-WA0053.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0053.jpg">
    <title><![CDATA[IMG49]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20180116-WA0054.jpg"
	thumbURL="thumbs/IMG-20180116-WA0054.jpg"
	linkURL="images/IMG-20180116-WA0054.jpg"
	linkTarget="_blank"
	sourcePath="F:\Lakshya_Gallery\IMG-20180116-WA0054.jpg">
    <title><![CDATA[IMG50]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>